<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Inequality &amp; Mass Transit in Chicago</title>
  <link href="./assets/css/bootstrap.css" rel="stylesheet">
  <link href="./assets/css/site.css" rel="stylesheet">
  <script src="./assets/libs/jquery.1.9.1.min.js"></script>
  <script src="./assets/libs/bootstrap/bootstrap.min.js"></script>
  <script src="./assets/libs/d3/d3.min.js"></script>
  <script src="./assets/libs/topojson.v1.min.js"></script>
  <script src="./assets/libs/angular/angular.min.js"></script>
  <script src="./assets/js/app.js"></script>
</head>
<body class="embeddable" data-ng-controller="AppCtrl">

    <div class="row" data-ng-show="agencies">
      <div class="span3" id="choices" style="border-right: 1px solid #eee;">
        <!-- CTA Trains -->
        <h5>CTA</h5>
        <div class="agency-container">
          <ul class="agency-routes nav nav-tabs nav-stacked">
            <li data-ng-repeat="(routeId, route) in agencies['CTA'].routes">
              <a href="#" data-ng-click="displayRoute('CTA', routeId)">
                <span class="swatch" data-ng-style="{'background-color': getRouteColor('CTA', routeId)}"></span>
                {{route.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="span6">
        <div id="graph">
          <div id="instructions"><p>&larr; Choose a line to get started!</p></div>
        </div>
      </div>
    </div><!-- /row -->


</body>
</html>
